@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,700);

/* Color Scheme
Red : #B74C47
Black : #413E3F
LightGray : #DAD7CD
White : #F3F3F3
DarkGray : #595959
*/

/* Global Declarations */

.bold {
    font-weight: 700;
}

body {
    position: relative;
    font-family: "Source Sans Pro";
}

a.clickable {
    color: #595959;
    background-color: white;
    border: 2px solid #595959;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.button-wrapper {
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}


/* Header Styles */

#header {
    min-height: 80vh;
    min-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header h1 {
    margin-top: 100px;
}

#header #home-title h1 b {
    font-weight: 20px;
}

#index-header {
    background:url('../img/home-header.jpg') no-repeat;
    background-size:cover;
    background-position:50% 10%;
    min-height: 80vh;
    min-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#index-header h1 {
    margin-top: 100px;
}

#index-header #home-title h1 b {
    font-weight: 20px;
}

#home-title h2 {
    color: white;
}

#home-title h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-top: 0;
}

#home-title p:nth-of-type(1) {
    font-size: 40px;
    margin-bottom: 0;
}

#home-title p:nth-of-type(2) {
    font-size: 30px;
    font-weight: 300;
}
.page main {
    padding-top: 40px;
    padding-bottom: 40px;
}

#nav-menu {
    width: 80%;
    text-align: right;
    z-index: 99;
    position: fixed;
    right: 0;
}

body > .logo {}

#nav-menu li {
    color: white;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: "Source Sans Pro";
    font-size: 1.2em;
}

#nav-menu li a {
    text-decoration: none;
    letter-spacing: .1em;
}

#nav-menu li a:link,
a:visited {
    color: white;
}

.logo {
    text-align: center;
    width: 80px;
    height: 80px;
}

#nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
}

#menu {
    display: none;
}

.topHeader {
    background: transparent;
    transition: all .35s;
}

.nav-wrap {
    background: rgba(0, 0, 0, .5);
    transition: all .35s;
    z-index: 999;
    position: fixed !important;
}


/* Ethan's Nav Hover */

#nav-menu li {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

#nav-menu li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#nav-menu li:hover:before,
#nav-menu li:focus:before,
#nav-menu li:active:before {
    left: 0;
    right: 0;
}


/* End */


/* Footer Styles */

footer {
    bottom: 0;
    margin-top: 143px;
}

footer .logo {
    margin: 0 auto;
    width: 147px;
    height: 147px;
    padding-bottom: 37px;
}

footer .logo img {
    width: 147px;
    height: 147px;
}

.footer-bottom {
    position: relative;
    position: bottom 0;
    background-color: #413E3F;
    width: 100%;
    color: #B5B5B5;
    margin-top: 37px;
}

.footer-bottom .legal-text {
    text-align: center;
    color: #c1c1c1;
    font-size: 15px;
    margin: 4px;
    font-weight: 300;
}

.legal-text:first-child {
    padding-top: 33px;
}

.footer-sitemap {
    font-weight: 300;
}

.footer-sitemap li {
    padding: 0;
    padding-right: 12px;
    padding-left: 12px;
    display: inline-block;
    margin-bottom: 33px;
}

.footer-sitemap li:first-child {
    border-right: 1px solid #B5B5B5;
}

.footer-sitemap li:nth-child(2) {
    border-right: 1px solid #B5B5B5;
}

.footer-sitemap li:nth-child(3) {
    border-right: 1px solid #B5B5B5;
}

.footer-sitemap ul {
    text-align: center;
}

.footer-sitemap a {
    text-transform: uppercase;
    font-size: 11px;
    color: #c1c1c1;
}


/* Ethan's Footer Hover */

.footer-sitemap a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.footer-sitemap a:hover,
.footer-sitemap a:focus,
.footer-sitemap a:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}


/* End */

#footer-wrap {
    background-color: #595959;
    padding-top: 37px;
}

img {
    text-align: center;
}

a {
    text-decoration: none;
    float: left;
}

li {
    display: inline-block;
    padding: 5px;
}

.footer-sitemap ul {
    margin-bottom: 0;
}

#logo {
    background-color: #595959;
    padding-top: 35px;
}


/* Home Styles */
#home-title {
    color: white;
    height: 100%;
    padding-top: 40px;
    z-index: 99;
}
#home-title b {
    font-weight: 20px;
}

#home-title h2 {
    color: white;
}


#home-title h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-top: 0;
}

#home-title p:nth-of-type(1) {
    font-size: 40px;
    margin-bottom: 0;
}

#home-title p:nth-of-type(2) {
    font-size: 30px;
    font-weight: 300;
}

#about-home {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line {
    border-top: 2px solid #595959;
    width: 80%;
    margin: 0 auto;
}

#works {
    text-align: center;
    margin-top: 50px;
}

#works .button-empty {
    color: #444444;
    border: 1px solid #444444;
    background: none;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    padding: 10px 1.5em;
    display: block;
    margin: 33px auto;
    float: none;
    max-width: 140px;
}


/* Ethan's Home Button Hovers */

#works .button-empty,
#meet-the-team .button-empty {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#works .button-empty:hover,
#works .button-empty:focus,
#works .button-empty:active,
#meet-the-team .button-empty:hover,
#meet-the-team .button-empty:focus,
#meet-the-team .button-empty:active {
    background-color: #595959;
    color: white;
}


/* End */


/* Ethan's Work Page Hovers */

.thirteen img,
.fourteen img,
.fifteen img,
.works-hover img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.thirteen img:hover,
.thirteen img:focus,
.thirteen img:active,
.fourteen img:hover,
.fourteen img:focus,
.fourteen img:active,
.fifteen img:hover,
.fifteen img:focus,
.fifteen img:active,
.works-hover img:hover,
.works-hover img:focus,
.works-hover img:active{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


/* End */

#meet-the-team {
    background-position: center;
    background-size: cover;
    height: 531px;
    text-align: center;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#meet-the-team h2 {
    color: white;
    text-align: center;
}

#meet-the-team h2 span {
    font-weight: bold;
}

#meet-the-team .button-empty {
    color: white;
    border: 1px solid white;
    background: none;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    padding: 10px 1.5em;
    display: block;
    margin: 33px auto;
    float: none;
    max-width: 140px;
}

#contact-form {
    text-align: center;
    margin-top: 50px;
}

#contact-form input[type="submit"] {
    background: #413e3f;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    color: #dddddd;
    border-radius: 6px;
    float: left;
}

#contact-form input,
#contact-form textarea {
    border-radius: 8px;
}

#contact-form label {
    float: left;
}

h1 {
    color: white;
}

.small-block-grid-2 li {
    text-align: center;
}

.small-block-grid-2 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.small-block-grid {
    width: 200px;
    height: 200px;
}


/* Works Page */

#works {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

#works a {
    width: 427px;
    margin: 25px 10px 25px 10px;
}

#works a li {
    width: 427px;
    height: 215px;
}

#works a li img {
    width: inherit;
    height: inherit;
}

#works ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.works-title {
    text-align: center;
    border-bottom: 1px solid #595959;
    font-size: 35px;
    font-weight: 300;
    color: #595959;
    width: 250px;
}


/* Team Page */

.clearing-thumbs:after li {
    width: 70%;
}

.clearing-caption {
    width: 70%;
    left: 15%;
}

#works .clearing-caption a {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

figure {
    transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
}

figure #top {
    transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    position: absolute;
}

figure #top:hover {
    opacity: 0;
}

.team-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.teamhead {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 110px;
}

figure img {
    width: 200px;
    height: 200px;
}

figure {
    margin-bottom: 0;
}

figcaption h4 {
    font-size: 20px;
    padding-top: 24px;
    margin: 0;
}

figcaption h5 {
    font-size: 18px;
    margin: 0;
    padding-top: 2px;
    font-weight: 300;
}


/* Contact Page */

.contact-message {
    margin-top: 50px;
}

.parallax-mirror {
    /*top: 0!important;*/
}

/* Tablet Styles */
@media only screen and (max-width:64em) {
    #home-title {
    color: white;
    height: 100%;
    padding-top: 100px;
    z-index: 999;
    }

}

/* Mobile Styles */
@media only screen and (max-width:40em) {
    #canvas-menu {
        width:100px;
    }
    #canvas-menu li {
        display:block;
        float:left;
        text-align:left;
        padding-top:50px;
    }
    #canvas-menu li:first-child {
        padding-top:10px;
    }
    #canvas-menu li a {
        font-size:24px;
    }
    #canvas-menu li a:visited, a:link {
        color:white;
    }
    #nav-menu {
        display:none;
    }
    #small-logo {
        float:right;
    }
    a div.logo {
        float:right;
        position:relative;
        width:80px;
        height:80px;
        margin-left:auto;
        margin-right:auto;
        clear:right;
    }
    #home-title h1 {
        margin-top:100px;
        font-size:64px;
        text-align:center;
    }
    #about-p {
        text-align:left;
    }
    #hamburger {
        padding-top:10px;
        padding-left:10px;
        fill:white;
        position: absolute;
        z-index: 999;
    }
    #header {
        margin-top: -80px;
        pointer-events: none;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #header {
            position: relative;
            top: -80px;
        }
    }
}
